.App {
  text-align: center;
  font-family: Lato;
}

.errorMsg {
  color: red;
}

#copyright {
  bottom: 10px;
  position: fixed;
  right: 10%;
  background-color: white;
  box-shadow: 0 0 10px 10px white;
}

#tableWrapper {
  width: 90vw;
  margin: 0 auto;
}
